django-favorites==0.2
django-social-auth==0.7.10
django-tagging==0.3.2
Django==1.6.5
docutils==0.12
httplib2==0.8
jsonfield==0.9.13
MySQL-python==1.2.5
oauth2==1.5.211
oauthlib==0.6.3
python-openid==2.2.5
python-social-auth==0.1.26
requests-oauthlib==0.4.1
requests==2.3.0
simplejson==3.6.2
six==1.7.3
South==1.0
suit==2.0.2
wechat==0.4.1
yafsm==0.1
pytz
