
{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.w3school.com.cn/i/w3school_logo_white.gif" alt="..." height="200" width="200">
                <div class="caption">
                    <p>{{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;{{stars}} star(s)&nbsp;)<p>
                    <p>
                        <a href="#" title="收藏"><i class="fa fa-star fa-2x"></i></a> 
                        <a href="#" title="私信"><i class="fa fa-envelope-o fa-2x"></i></a> 
                        <a href="#" title="留言"><i class="fa fa-comment-o fa-2x"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>公司: &nbsp;&nbsp;{{company}}</p>
            <p>个人简介: &nbsp;&nbsp;{{description}}</p>
            <p></p>
            <p>个人标签: &nbsp;&nbsp;{{tags}}</p>
            <p>链接: 
                &nbsp;&nbsp;
                {% for user_link in user_link_list %}
                    <a href="{{user_link.url}}" target="_brank">{{user_link.title}}</a>
                    &nbsp;&nbsp;
                {% endfor %}
            </p>
        </div>
    </div>
    <hr>
    <h4>{{name}}的Topic</h4>
    <hr>
    <h4>给{{name}}的话</h4>
</div>
{% endblock %}





