<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>签到成功</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    <h3>签到成功</h3>
    <p>以下是用户的个人信息：</p>
    <ul>
      <li class="">称呼：{{user.first_name}}</li>
      <li class="">头像：{{user.avatar}}</li>
    </ul>
  </body>
</html>
