<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/flatui/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <!-- <link href="/static/flatui/css/flat-ui.css" rel="stylesheet"> -->
    <link href="/static/flatui/css/style.css" rel="stylesheet">
    <link href="/static/flatui/css/style2.css" rel="stylesheet">
    <link href="/static/flatui/css/style3.css" rel="stylesheet">
    <link href="/static/flatui/css/affiliates.css" rel="stylesheet">
    <link href="/static/flatui/css/sffotck2.css" rel="stylesheet">



    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div id="upper-menu-mobile">
        <div id="page-menu-wrapper">
            <ul style="border:none;box-shadow:none;" class="main no-js">
                <li class="submenu-item">
                    <a class="top-menu" href="javascript:void(0)">
                        <span class="icn_list" aria-hidden="true"><label>Categories</label></span>
                    </a>
                    <div class="dropdown-menu categories">
                        <div class="menu-header"><ul class="menu" id="menu-nav-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-98952" id="menu-item-98952"><a href="http://designmodo.com/design/">Design</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-18118" id="menu-item-18118"><a href="http://designmodo.com/freebies/">Freebies</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18124" id="menu-item-18124"><a href="http://designmodo.com/tutorials/">Tutorials</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-46154" id="menu-item-46154"><a href="http://designmodo.com/coding/">Coding</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18120" id="menu-item-18120"><a href="http://designmodo.com/inspiration/">Inspiration</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18125" id="menu-item-18125"><a href="http://designmodo.com/wordpress/">WordPress</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-79238" id="menu-item-79238"><a href="http://designmodo.com/resources/">Resources</a></li>
</ul></div>                    </div>

                </li>
                <li><a class="top-menu" href="http://designmodo.com/shop/"><span class="icn_cart" aria-hidden="true"></span><label>Shop</label></a></li>
                <li class="submenu-item">
                    <a class="top-menu" href="javascript:void(0)">
                        <span class="icn_search" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown-menu search">
                        <form target="_top" method="get" action="http://designmodo.com/search/" id="search-mobile">
                            <input type="text" class="search-input-mobile" name="q">
                            <input type="hidden" value="partner-pub-8533961490949414:1129877839" name="cx">
                            <input type="hidden" value="FORID:10" name="cof">
                            <input type="hidden" value="UTF-8" name="ie">
                            <button class="gobutton-mobile" type="submit"><span class="search_icon" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </li>
            </ul>
            <ul class="main right no-js">
                <li class="submenu-item">
                    <a class="top-menu" href="javascript:void(0)"><span class="icn_follow" aria-hidden="true"></span></a>

                    <div class="dropdown-menu follow">
                        <ul class="social">
                            <li>
                                <a class="rss" title="Subscribe by RSS" target="_blank" href="http://feeds.feedburner.com/designmodo"><span class="icn_rss" aria-hidden="true"></span>RSS</a>
                            </li>     
                            <li>
                                <a class="twitter" title="Follow us on Twitter" target="_blank" href="http://www.twitter.com/designmodo"><span class="icn_twitter" aria-hidden="true"></span>Twitter</a>
                            </li>
                            <li>
                                <a class="facebook" title="Join us on Facebook" target="_blank" href="http://www.facebook.com/designmodo"><span class="icn_facebook" aria-hidden="true"></span>Facebook</a>
                            </li>
                            <li>
                                <a class="googleplus" title="Google+" target="_blank" href="https://www.google.com/+DesignModo"><span class="icn_googleplus" aria-hidden="true"></span>Google+</a>
                            </li>
                            <li>
                                <a class="dribbble" title="Follow us on Dribbble" target="_blank" href="http://dribbble.com/designmodo"><span class="icn_dribbble" aria-hidden="true"></span>Dribbble</a>
                            </li>
                        </ul>
                        <div class="counter">347772 Subscribers &amp; Followers</div>
                    </div>
                </li>

                 
                    <li>
                        <a class="top-menu profile" href="http://designmodo.com/my-account/">
                            <span class="icn_profile" aria-hidden="true"></span>
                        </a>
                                    </li>
            </ul>
        </div>
    </div>
    <!-- /.upper-menu-mobile -->


    <div id="upper-menu-container" style="margin-top: 0px;">
        <div id="page-menu-wrapper">
            <ul class="main left no-js">
                <li><a class="top-menu" href="/">
                    <div class="icon_logo"></div>珠三角技术沙龙</a>
                </li>
         
                <li><a class="top-menu" href="/event">活动</a></li>
                <li><a class="top-menu" href="{% url 'lecturer:lecturer_list_view'%}">讲师</a></li>
                <li><a class="top-menu" href="/topic">主题</a></li>
                <li><a class="top-menu" href="/live">直播</a></li>
                <li><a class="top-menu" href="/about">关于</a></li>


                <li class="mobile-class">
                    <div class="top-menu search">
                        <span class="label" style="font-size:100%;">搜索<span class="cursor"></span></span>
                        <div class="formsearch">
                            <form target="_top" method="get" action="http://designmodo.com/search/" id="search">
                                <input type="text" class="search-input" name="q">
                                <input type="hidden" value="partner-pub-8533961490949414:1129877839" name="cx">
                                <input type="hidden" value="FORID:10" name="cof">
                                <input type="hidden" value="UTF-8" name="ie">
                            </form>
                            <span class="gobutton"><span class="search_icon" aria-hidden="true"></span></span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="main right no-js" style="float:right; right:-1px; position:relative;">
                <li class="submenu-item mobile-class">
                    <a class="top-menu" href="#">关注我</a>

                    <div class="dropdown-menu follow">
                        <ul class="social">
                            <li>
                                <a class="rss" title="Subscribe by RSS" target="_blank" href="http://feeds.feedburner.com/designmodo"><span class="icn_rss" aria-hidden="true"></span>RSS</a>
                            </li>     
                            <li>
                                <a class="weibo" title="Follow us on Weibo" target="_blank" href="http://www.weibo.com/techparty"><span class="icn_twitter" aria-hidden="true"></span>新浪微博</a>
                            </li>
                        
                        </ul>
                    </div>
                </li>

                <li class="submenu-item mobile-class">
                    <a class="top-menu profile" href="http://designmodo.com/my-account/">
                        <label>登录</label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.upper-menu-container -->

    <div id="header-wrapper">
        <div id="logo">

        </div><!--end logo-->
    </div>

  {% block main %}{% endblock %}




<div id="footer-wrapper">
    <div class="menu-footer-container"><ul class="page-menu-wrapper-footer" id="menu-footer-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89209" id="menu-item-89209"><a href="http://techparty.org/">Contact Us</a></li>
</ul></div>
    <ul id="footer-container-right">
        <li class="copyright">Copyright &copy; 2014  All Rights Reserved.</li>
        <li class="copyright"></li>
    </ul>
</div>


    <!-- Load JS here for greater good =============================-->
    <script src="/static/flatui/js/jquery-1.8.3.min.js"></script>
    <script src="/static/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/flatui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/flatui/js/bootstrap.min.js"></script>
    <script src="/static/flatui/js/bootstrap-select.js"></script>
    <script src="/static/flatui/js/bootstrap-switch.js"></script>
    <script src="/static/flatui/js/flatui-checkbox.js"></script>
    <script src="/static/flatui/js/flatui-radio.js"></script>
    <script src="/static/flatui/js/jquery.tagsinput.js"></script>
    <script src="/static/flatui/js/jquery.placeholder.js"></script>
  </body>
</html>