<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>珠三角技术沙龙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "techparty/css/main.css" %}" ?

</head>

<body >
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">珠三角技术沙龙</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">首页</a></li>
          <li><a href="/event">活动</a></li>
          <li><a href="{% url 'lecturer:lecturer_list_view'%}">讲师</a></li>
          <li><a href="/topic">主题</a></li>
          <li><a href="/live">直播</a></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  {% block main %}{% endblock %}

  <div class="container">
    <footer>
      <p>Copyright &copy; techparty.org 2014</p>
      <p>
        <a href="#top">Back to top</a>
      </p>
    </footer>
  </div>


</body>

</html>















